@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*{
    margin: 0; padding: 0; letter-spacing: 2px; word-spacing: 2px; font-family: 'Amaranth', sans-serif; box-sizing: border-box;
}

body{
    background-color: #eee;
    color: #2c2e3e;
    display: flex;
}

@media only screen and (min-width: 0) {
    
    body{
        flex-direction: column;
    }

    /* navigation panal */
    nav{
        background-color: #2c2e3e;
        position: fixed;
        top: 0;
        right: 0;
    }
    nav #desktop-menu{
        display: none;
    }
    nav .mobile-menu{
        cursor: pointer;
        display: block;
        padding: 10px;
    }
    nav .mobile-menu div{
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: #eee;
    }
    #menu{
        display: none;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: #2c2e3e;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .menu #clsoebtn{
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 3em;
        color: #eee;
        cursor: pointer;
    }
    .menu .desktop-menu a{
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: #eee;
        text-transform: uppercase;
        font-size: 1.2em;
        width: fit-content;
    }
    .menu .desktop-menu a:hover{
        border-bottom: 1px solid #eee;
    }
    .menu .desktop-menu a i{
        margin-right: 5px;
    }

    /* profile panal */
    .enroll{
        width: 100%;
        position: absolute;
        top: 10%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }
    .enroll .exam{
        width: 100%;
        background-color: #fff;
        padding: 20px;
    }
    .enroll .exam h2{
        text-transform: uppercase;
    }
    .enroll .exam form{
        width: 100%;
        border-top: 2px solid #C850C0;
        border-bottom: 2px solid #4158D0;
        padding: 10px 0;
    }
    .enroll .exam form .input-field{
        margin: 20px 0;
    }
    .enroll .exam form .input-field label{
        text-transform: uppercase;
    }
    .enroll .exam form .input-field .input{
        width: 100%;
        border: 1px solid #2c2e3e;
        position: relative;
        margin: 10px 0;
    }
    .enroll .exam form .input-field .input select, .enroll .exam form .input-field .input select option{
        padding: 10px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        background-color: transparent;
        cursor: text;
    }
    .enroll .exam form .input-field .input select{
        text-transform: uppercase;
    }
    .enroll .exam form .input-field .input select option{
        background-color: #eee;
        color: #2c2e3e;
    }
    .enroll .exam form button {
        background-image: linear-gradient(to right, #2c2e3e 0%, #414345  51%, #2c2e3e  100%)
    }
    .enroll .exam form button {
        margin: 10px 0;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: inline-block;
        outline: none;
    }
    .enroll .exam form button i{
        padding-right: 5px;
    }
    .enroll .exam form button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {

    /* Navigation panal */
    nav{
        width: 30%;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
    }
    nav #mobile-menu{
        display: none;
    }
    nav #desktop-menu{
        display: flex;
        flex-direction: column;
    }
    nav #desktop-menu a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #eee;
        text-transform: uppercase;
        text-align: left;
    }
    nav #desktop-menu a i{
        margin-right: 5px;
    }
    nav #desktop-menu a:hover{
        border-right: 5px solid #2c2e3e;
        background-color: #eee;
        color: #2c2e3e;
    }
    #menu{
        display: none;
    }

    /* profile panal */
    .enroll{
        width: 70%;
        left: 30%;
    }
    .enroll .exam{
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {

    /* Navigation panal */
    nav{
        width: 25%;
    }

    /* profile panal */
    .enroll{
        width: 75%;
        left: 25%;
    }
    .enroll .exam{
        width: 70%;
    }
    .enroll .exam form .input-field .input select, .enroll .exam form .input-field .input select option{
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1440px) {

    /* Navigation panal */
    nav{
        width: 20%;
    }
    
    /* profile panal */
    .enroll{
        width: 80%;
        left: 20%;
    }
    .enroll .exam{
        width: 60%;
    }
    .enroll .exam form .input-field .input select, .enroll .exam form .input-field .input select option {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1920px) {

    /* Navigation panal */
    nav{
        width: 15%;
    }

    /* profile panal */
    .enroll{
        width: 85%;
        left: 15%;
    }
    .enroll .exam{
        width: 50%;
    }
}

@media only screen and (min-width: 2560px) {

    /* Navigation panal */
    nav{
        width: 10%;
    }

    /* profile panal */
    .enroll{
        width: 90%;
        left: 10%;
    }
    .enroll .exam{
        width: 40%;
    }
}