@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box; letter-spacing: 2px; word-spacing: 2px; font-family: 'Amaranth', sans-serif; scroll-behavior: smooth;
}

@media only screen and (min-width: 0){

    /* header section */
    #header{
        display: none;
    }

    /* Navigation panal */
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 100;
    }
    nav a{
        text-decoration: none;
        color: #eee;
        text-transform: uppercase;
        font-size: 1.1em;
    }
    nav a#name{
        position: relative;
        left: 20px;
    }
    nav #desktop-menu{
        display: none;
    }
    nav .mobile-menu{
        position: relative;
        right: 20px;
    }
    nav .mobile-menu div{
        width: 30px;
        height: 3px;
        background-color: #eee;
        margin: 5px;
    }
    nav .mobile-menu div#bar3{
        width: 20px;
    }
    #menu{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: #24252a;
        z-index: 100;
        overflow-y: auto;
    }
    .menu #clsoebtn{
        position: fixed;
        top: 10px;
        right: 10px;
        color: #eee;
        font-size: 3em;
        cursor: pointer;
    }
    .menu div{
        margin: 20px 0;
    }
    .menu div.desktop-menu{
        display: flex;
        flex-direction: column;
    }
    .menu div.desktop-menu a{
        display: block;
        padding: 10px 0;
        color: #eee;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        text-align: center;
    }
    .menu div.desktop-menu a:hover{
        border-bottom: 1px solid #eee;
    }
    .menu div.login a{
        text-decoration: none;
        color: #eee;
        text-transform: uppercase;
        border: 1px solid #eee;
        padding: 5px 10px;
    }
    .menu div.login a i{
        margin-left: 5px;
    }
    .menu div.login a:first-of-type{
        background-color: #eee;
        color: #2c2e3e;
    }
    .menu div.social a{
        color: #eee;
        text-decoration: none;
        font-size: 2em;
    }

    /* Home Section */
    .home{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #2c2e3e;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    .home div{
        padding: 0 20px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .home .content h2, .home .content p{
        padding: 10px;
    }
    .home .image img{
        transform: scale(1.2);
        position: relative;
        z-index: 0;
    }

    /* exam process */
    .process{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-transform: uppercase;
        color: #2c2e3e;
    }
    .process h2{
        margin: 20px 0;
        text-align: center;
    }
    .process .steps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .process .steps .step{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .process .steps .step i, .process .steps .step h3, .process .steps .step p{
        margin: 10px 0;
    }
    .process .steps .step i{
        font-size: 5em;
    }
    .process .steps .step p{
        text-align: center;
    }

    /* footer section */
    footer{
        background-color: rgba(0, 0, 0, .9);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: #eee;
        text-transform: uppercase;
    }
    footer div{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer div h3{
        border-bottom: 2px solid #eee;
    }
    footer div div a{
        text-decoration: none;        
        color: #eee;
        width: fit-content;
        margin: 5px 0;
    }
    footer div div a i{
        margin-right: 10px;
    }
    footer div div a:hover{
        border-bottom: 1px solid #eee;
    }
    footer div div a#address:hover{
        border: none;
    }
}

@media only screen and (min-width: 768px){

    /* header section */
    #header{
        display: flex;
    }
    .header{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: #2c2e3e;
        position: relative;
    }
    .header a{
        text-decoration: none;
        color: #eee;
        font-size: 1em;
        text-transform: uppercase;
        outline: none;
    }
    .header div.social a{
        font-size: 1.5em;
    }
    .header div.login a{
        border: 1px solid #eee;
        padding: 10px 20px;
    }
    .header div.login a i{
        margin-left: 10px;
    }
    .header div.login a:first-of-type{
        background-color: #eee;
        color: #2c2e3e;
    }

    /* Navigation Menu */
    nav #mobile-menu{
        display: none;
    }
    nav #desktop-menu{
        display: flex;
        position: relative;
        right: 20px;
    }
    nav .desktop-menu a{
        margin: 0 10px;
    }
    nav .desktop-menu a:hover{
        border-bottom: 1px solid #eee;
    }

    /* home section */
    .home {
        flex-direction: row;
        height: 80vh;
        justify-content: space-around;
    }
    .home div{
        width: 50%;
        align-items: center;
    }
    .home .image img{
        transform: scale(1.1);
    }

    /* exam process */
    .process h2{
        font-size: 1.5em;
    }
    .process .steps{
        width: 90%;
    }

    /* footer section */
    footer{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    footer div{
        align-items: flex-start;
        margin: 0 10px;
    }
    footer div div{
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1024px) {

    /* Navigation Menu */
    nav{
        justify-content: space-around;
    }
    nav a{
        font-size: 1.2em;
    }

    /* Home section */
    .home .content h2{
        font-size: 2em;
    }
    .home .content p{
        font-size: 1.2em;
    }
    .home .image img{
        transform: scale(1.2);
    }

    /* exam process */
    .process{
        width: 100%;
        height: 80vh;
    }
    .process h2{
        position: relative;
        top: -10vh;
        font-size: 2.5em;
    }
    .process .steps{
        flex-direction: row;
    }
    .process .steps .step{
        margin: 0 20px;
    }
}

@media only screen and (min-width: 1440px) {

    /* Home Section */
    .home .content h2{
        font-size: 2.5em;
    }
    .home .image img{
        transform: scale(1.5);
    }
    
    /* exam process */
    .process{
        height: 100vh;
    }
}